
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Control_calci/invertir" method="post">

            <label>Ingrese un numero de dos cifras</label> <br />
            <input type="text" name="value" /> <br />
            <input type="submit" value="invertir" />
        </form>
    </div>
</body>
</html>
